* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;
}

.section {
  height: 260vh;
  position: relative;
  background: black;
}

.track {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.road {
  position: relative;
  width: 100vw;
  height: 200px;
  background: #111;
  overflow: hidden;
}

.trail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #facc15, #f97316);
  width: 0;
  z-index: 1;
}

.car {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 5;
}

.letters {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 60px;
  font-weight: bold;
  display: flex;
  gap: 8px;
  z-index: 3;
}

.letters span {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Floating Boxes */

.stat-box {
  position: absolute;
  padding: 25px 35px;
  border-radius: 16px;
  font-weight: bold;
  opacity: 0;
}

.box1 {
  top: 10%;
  left: 15%;
  background: #9be000;
  color: black;
}

.box2 {
  top: 45%;
  left: 25%;
  background: #3fb4e5;
  color: black;
}

.box3 {
  top: 70%;
  right: 20%;
  background: #333;
  color: white;
}

.box4 {
  top: 90%;
  left: 40%;
  background: orange;
  color: black;
}