/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background: #000;
  overflow-x: hidden;
}

/* SECTION */
.section {
  height: 220vh;
  background: #000;
  position: relative;
}

/* TRACK */
.track {
  position: sticky;
  top: 0;
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ROAD */
.road {
  width: 100vw;
  height: 220px;
  background: #1e1e1e;
  position: relative;
  overflow: hidden;
}

/* TRAIL */
.trail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #facc15, #fb923c);
  width: 0;
}

/* CAR */
.car {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

/* LETTERS */
.letters {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  gap: 12px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

.letters span {
  opacity: 0;
}

/* BOXES */
.stat-box {
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  opacity: 0;
  transform: translateY(40px);
}

.box1 { top: 8%; left: 10%; background: #84cc16; color: black; }
.box2 { bottom: 10%; left: 20%; background: #38bdf8; color: black; }
.box3 { top: 15%; right: 15%; background: #333; color: white; }
.box4 { bottom: 12%; right: 12%; background: #f97316; color: black; }